@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("images/bg-image.jpg");
    font-family: "poppins", "sans-serf";
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}

.countContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: normal;
    font-size: 5rem;
    margin-top: -83px;
}

.bigText {
    font-weight: bold;
    font-size: 10rem;
    margin: 0 2rem;
}

.spanAlign {
    text-align: center;
}

.spanAlign span {
    font-size: 1.5rem;
}
